.default {

}

.red {
    background: red;
}

.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 2px;
    background: rgb(26, 42, 220);
    box-shadow: 0 -5px rgb(12, 31, 134) inset;
    transition: 0.5s;
}

.button:hover {
    background: rgb(12, 31, 134);
}

.button:active {
    background: rgb(12, 31, 134);
    box-shadow: 0 3px rgb(12, 31, 134) inset;
}